In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('test.csv')

In [5]:
df.shape

(120, 6)

In [6]:
for i in df:
    print(df.shape)

(120, 6)
(120, 6)
(120, 6)
(120, 6)
(120, 6)
(120, 6)

In [12]:
import  pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import  BarChart , Reference
import string

In [19]:
excel_file = pd.read_excel("D:/Project/data_analyst_project/super_market/supermarkt_sales.xlsx",sheet_name='Sales')
excel_file.head()

,Unnamed: 0,Sales 2024,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,NaN,750-67-8428,A,Mumbai,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
4,NaN,226-31-3081,C,Delhi,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2021-03-08 00:00:00,10:29:00,Cash,76.4,4.761905,3.82,9.6