In [3]:
import mysql.connector

conn = mysql.connector.connect(host="localhost", user= "root", password="tiger" , database= "data")

con =conn.cursor()
dbs = con.execute("create table Employee(name varchar(20) not null, id int(20) not null primary key, salary float not null, Dept_id int not null)")  
dbs = con.execute("show tables")

In [6]:
import mysql.connector
# create database connection
conn = mysql.connector.connect(host="localhost", user= "root", password="tiger" , database= "data")
cur = conn.cursor()  
sql = "insert into employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
val = ("John", 110, 25000.00, 201, "Newyork")  
  
try: 
  #inserting the values into the table 
  cur.execute(sql,val)  
	  
  #commit the transaction   
  conn.commit()  
	      
except:  
    conn.rollback()  
	  
print(cur.rowcount,"record inserted!")  
conn.close()

-1 record inserted!

In [8]:
# insert multiple values 
import mysql.connector  
	      
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "tiger",database = "data")  
	  
#creating the cursor object  
cur =conn.cursor()  
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"  
val = [("John", 102, 25000.00, 201, "Newyork"),("David",103,25000.00,202,"Port of spain"),("Nick",104,90000.00,201,"Newyork")]  
	      
try:  
    #inserting the values into the table  
    cur.executemany(sql,val)  
	  
    #commit the transaction   
    conn.commit()  
    print(cur.rowcount,"records inserted!")  	      
except:
    conn.rollback()  
	  
conn.close()

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)